@model CarDealer.Models.ViewModels.Supplier.DeleteSupplierVm

@{
    ViewBag.Title = "Delete supplier";
}

<h2>Delete supplier</h2>

<h3>Are you sure you want to delete this supplier ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt type="number" hidden="hidden" value="@Model.Id" name="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsImporter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsImporter)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        if (!Model.HasParts )
        {
            <form method="post">
                <input type="number" hidden="hidden" name="Id" value="@Model.Id" />
                <div class="form-group">
                    <input class="btn btn-danger" type="submit" value="Delete" />
                </div>
            </form>
        }
        else
        {
            <p class="alert alert-danger">Cannot remove supplier! Supplier has parts in stock!</p>
        }
        @Html.ActionLink("All suppliers", "All");

    }
</div>


