@model EventsApp.Models.ViewModels.Event.EventBriefVm

@{
    ViewBag.Title = "_EventAllPartial";
}

<div class="col-lg-4 col-md-4 col-s">
    <div class="teaser">
        <div>
            <h3 class="entry-title text-center">
                @Html.ActionLink(@Html.DisplayFor(model => model.Title).ToString(), "Details", "Events", new { id = Model.Id }, null)
            </h3>
            <br />
            <div class="entry-content">
                @Html.DisplayNameFor(x => x.StartDateTime)
                @Html.DisplayFor(x => x.StartDateTime)
            </div>
            <img class="crop alignleft post-image" src="@Model.ImageUrl" alt="@Model.Id" />
            <div class="entry-content">
                @Html.DisplayNameFor(@Model => Model.Category):
                @Html.ActionLink(@Html.DisplayFor(model => model.Category.Name).ToString(), "Categories", "Events", new { id = Model.Category.Id }, null)
            </div>
            <div class="crop entry-content">
                <p class="truncate" contenteditable="true">
                    @Html.DisplayFor(model => model.Description)
                </p>
            </div>
            <p >@Html.ActionLink("Details", "Details", "Events", new { id = Model.Id, }, new { @class = "pull-right" })</p>
    </div>
</div>
</div>
