@model EventsApp.Models.ViewModels.Event.EventVm
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@{
    ViewBag.Title = "Details";
}


<div class="container body-content">
    <div class="col-sm-6 col-lg-6 col-md-6">
        <h3>Details</h3>

        <div class="thumbnail">
            <div>
                <h4 class="pull-right">
                    @Html.ActionLink(@Html.DisplayFor(model => model.Location).ToString(), "Location", "Events", new {id = Model.Location}, null)
                </h4>
            </div>
            <div>
                <img class="crop alignleft post-image" src="@Model.ImageUrl" alt="@Model.Id" />
            </div>
            <br />
            <h6>@Model.StartDateTime</h6>
            <div class="caption">
                <div class="title">
                    <h4>
                        @Html.ActionLink(@Html.DisplayFor(model => model.Title).ToString(), "Details", "Events", new {id = Model.Id}, null)
                    </h4>
                </div>
                <div class="truncate">
                    <p>
                        @Html.DisplayFor(model => model.Description)
                    </p>
                </div>

                @if (Request.IsAuthenticated && User.IsInRole("Visitor"))
                {
                    using (Html.BeginForm("All", "Events", FormMethod.Post))
                    {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                <div class="form-group">
                    <input name="EventId" type="hidden" value="@Model.Id" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Join in" class="btn btn-info" />
                </div>
                    }
                }
            </div>
            <div class="ratings">
                <p class="pull-right">15 comments</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star glyphicon-star-empty"></span>
                </p>
            </div>
        </div>
        <div>
            <iframe type="text/html" width="100%" height="385" src="http://www.youtube.com/embed/@Model.YouTubeUrl"></iframe>
        </div>
    </div>

    <div class="col-sm-6 col-lg-6 col-md-6">
        <h3>Comments</h3>
        <div class="">
                @Html.Action("CommentListForDetailPage", "Events", new { eventId = @Model.Id })
        </div>
    </div>
</div>

    @*<p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>*@
