@model EventsApp.Models.ViewModels.Promoter.PromoterDetailsInfoVm

@{
    ViewBag.Title = "Details";
}

<h2 class="title-orange">@Html.DisplayFor(model => model.Info.Name)</h2>
<div style="height: 15px; border-top: 1px solid orange" class="col-sm-12 col-md-12 col-lg-12"></div>
<div>
    <p>
        <span style="color: orange;"><strong>Contacts: </strong></span> @Html.DisplayNameFor(model => model.Info.Contacts):
        @Html.DisplayFor(model => model.Info.Contacts)
    </p>
    <p style="border-top: 1px solid orange">
        <span style="color: orange;"><strong>Details about promoter: </strong></span>@Html.DisplayFor(model => model.Info.Description)
    </p>
</div>
<div style="height: 15px; border-bottom: 1px solid orange" class="col-sm-12 col-md-12 col-lg-12"></div>
@Html.Action("EventList", "Promoters", new { eventBriefVms = @Model.Events })


